<template>
  <div>
    <div class="columns">
      <div class="column">
        Year: 2018
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-quarter">
        <Widget visualisation="data-table" :data="marketShare($route.params.merchant, 2018)" />
      </div>
      <div class="column">
        <Widget visualisation="line-graph" :data="marketShare($route.params.merchant, 2018)" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Widget from '~/components/Widget'
export default {
  components: {
    Widget
  },
  computed: {
    ...mapGetters([
      'marketShare'
    ])
  },
  async fetch ({ store, params }) {
    const { merchant } = params
    await store.dispatch('GET_REVENUES', { merchant, year: 2018 })
  }
}
</script>

<style>
</style>
