<template>
  <nuxt-link :to="{ name: 'merchant', params: { merchant: to } }">
    <div class="button">
      {{ title }}
    </div>
  </nuxt-link>
</template>

<script>
export default {
  components: {
  },
  props: {
    title: {
      type: String,
      required: true
    },
    to: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>
</style>
