<template>
  <table class="table">
    <thead>
      <tr>
        <th>Period</th>
        <th>Market share</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) of data" :key="index">
        <td>{{ moment(index + 1, 'M').format('MMMM') }}</td>
        <td>{{ item }}%</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import moment from 'moment'
export default {
  components: {
  },
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  async fetch ({ store, params }) {
  },
  mounted () {
  },
  methods: {
    moment
  }
}
</script>

<style>
</style>
