<script>
import { Line } from 'vue-chartjs'
import moment from 'moment'
export default {
  components: {
  },
  extends: Line,
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  data () {
    const labels = this.data.map((v, i) => (moment(i + 1, 'M').format('MMM')))
    return {
      chartdata: {
        labels,
        datasets: [
          {
            fill: false,
            lineTension: 0,
            label: 'Market Share',
            backgroundColor: '#f87979',
            pointBackgroundColor: '#000000',
            pointBorderColor: '#000000',
            borderColor: '#f87979',
            data: this.data
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  async fetch ({ store, params }) {
  },
  mounted () {
    this.renderChart(this.chartdata, this.options)
  }
}
</script>

<style>
</style>
