<template>
  <div>
    <DataTable v-if="visualisation === 'data-table'" :data="data" />
    <LineGraph v-else-if="visualisation === 'line-graph'" :data="data" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import DataTable from './DataTable'
import LineGraph from './LineGraph'
export default {
  components: {
    DataTable,
    LineGraph
  },
  props: {
    visualisation: {
      type: String,
      required: true,
      validator: prop => ['data-table', 'line-graph'].includes(prop)
    },
    data: {
      type: Array,
      required: true
    }
  },
  computed: mapState([
  ]),
  async fetch ({ store, params }) {
  },
  mounted () {
  }
}
</script>

<style>
</style>
