<template>
  <div class="container">
    <div>
      <h1 class="title">
        FoxLite
      </h1>
      <h2 class="subtitle">
        Please choose a merchant
      </h2>
      <div class="links">
        <Button v-for="item in merchants" :key="item.name" :title="item.name" :to="item.name" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Button from '~/components/Button'
export default {
  components: {
    Button
  },
  computed: mapState([
    'merchants'
  ]),
  async fetch ({ store, params }) {
    await store.dispatch('GET_MERCHANTS')
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
